
.feather-16{
    width: 16px;
    height: 16px;
}

.feather-20{
    width: 20px;
    height: 20px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

.feather-32{
    width: 32px;
    height: 32px;
}